node_modules/
.vscode/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# input and output files from project
output/
input/*
!input/.gitkeep

# generated sample files
image_post_sample.txt
profile_media_sample.txt
user_web_data_sample.txt
video_post_sample.txt
viral_posts_sample.txt